body{ 
    margin:0px; 
    padding:0px;
    background-color: LightCyan;  
}  

header{ 
    background-color: LightGrey; 
    padding:15px;

}

a:link {
  color:Black ;
}
a:visited {
  color:DodgerBlue;
}
a:hover {
  color:Gold;
}
a:active {
  color:Lavender
}

#3333CC
